$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;
$primary-blue: #00a1e0;
$background-color: #fff;
$btn-primary-color: #db6c36;
$btn-secondary-color: #fff;
$theme-colors: (
  "primary":    $btn-primary-color,
  "secondary":  $background-color,
  "info":       $primary-blue,
);

@import '~bootstrap/scss/bootstrap';


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer,
header {
    background-color: $background-color;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $small-spacing $medium-spacing;
    color: $primary-blue;
}

.card-body {
  max-height: 530px;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar {
  display: none;
}

label {
    margin-top: $small-spacing;
    font-weight: bold;
}

input::placeholder {
    font-style: italic;
}

.btn-group {
    margin-top: $large-spacing;
}

.ng-touched.ng-invalid {
    @extend .is-invalid;
}

.invalid-feedback {
    display: block;
}

.merchant-details {
  width: 37% !important;
  float: left;
}

.card-header {
  color: white;
}

.input-group-text {
  font-size: 1.5rem;
}
